*{
 font-family: 'Overpass', sans-serif;
 box-sizing: border-box;
 margin: 0%;
}

:root{
    --bg-color:#4c4c4c;
    --text-color:#f3f6f5;
}

body{
    background-color: var(--bg-color);
    

}


footer{
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    width: 100%;
}

a{
    color: var(--text-color)
}

.form-caja{
    margin: 20px 20px
}

#buscador-caja{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--text-color);
    border-radius: 5px;
    
}

#buscador{
    width: 100%;
    background-color: var(--text-color);
    border: none;
    font-size: 1.3rem;
    
}

#buscador:focus{
    outline: none;
}



#clima-card{
    margin:20px 20px ;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: none;
    min-width: 200px;
    
}

#caja-fechaHora{
    display: flex;
    flex-direction: column;
    
}

.ciudad{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.fecha{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

#hora{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.temperatura{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    
}

.imagen-termometro{
    max-width: 10rem;
    padding-right: 3rem;
}

.temperatura-valor{
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 2rem;
}

.clima{
    font-size: 2rem;
    margin-bottom: .5rem;
}

#contenedor-clima{
    display: flex;
    justify-content: center;
}

.gif{width: 3rem;}

.caja-gif{
    background: rgb(184, 203, 209);
    border-radius: 50%;
    border: 1px solid var(--bg-color);
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.max-min{
    font-size: 1.5rem;
    font-weight: 100;
}